ftmiddle/gw_configs/
ftmiddle_for_incomes/gw_configs/
packet_ft_1/packet_forwarder/lora_pkt_fwd1
packet_ft_2/packet_forwarder/lora_pkt_fwd2
packet_ft_3/packet_forwarder/lora_pkt_fwd3
packet_ft_4/packet_forwarder/lora_pkt_fwd4
packet_ft_5/packet_forwarder/lora_pkt_fwd5
